# Handle line endings automatically for files detected as text 
# and schedule them to be converted to LF on checkin.
* text=auto eol=lf

# Explicitly declare text files to always be LF
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.txt text eol=lf
*.md text eol=lf
Dockerfile text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
